<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%= category_item.picture_url%>" class="image">
    </div>
  </div>
  <div class="col-md-9 col-md-offset-0">
    <%= link_to category_item.name, item_path(locale, category_item.id) %>
    <br />
    <strong> Price </strong>: $<%= category_item.price%>
    <br />
    <% unless user_signed_in? && (current_user.role == User.role_users[:admin])%>
      <% if category_item.stock > 0 %>
        <%= render 'items/_parts/add_to_cart', {item_id: category_item.id,
                                                stock: category_item.stock,
                                                hidden_quantity: true
                                                }%>
      <% else %>
        <div class="out_of_stock">
          Out of stock
        </div>
      <% end %>
    <% else %>
      Stock: <span class="out_of_stock"><%= category_item.stock %></span>
    <% end %>
  </div>
</div>
