<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    <%= "Order #{order.id}"%>
  </div>
</div>
<br />
<div>
  <% flash.each do |key, value| %>
     <div class="alert alert-danger"><%= value %></div>
  <% end %>
</div>
<div class="recommened_list col-md-offset-1 col-md-9">
  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="col-md-offset-0 col-md-2">
      <strong> Price </strong>
    </div>
    <div class="quantity col-md-offset-0 col-md-3">
      <strong> Quantity </strong>
    </div>
  </div>
  <hr/>
  <%= render partial: 'orders/_parts/order_item', collection: order_items %>

  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="subtotal col-md-offset-0 col-md-5">
      <strong>Subtotal (<%= order.get_quantity %> items):</strong>
      <span class="price"> $<%= get_subtotal(order_items) %> </span>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-8">
    </div>
    <% if current_user.admin? %>
      <div class="col-md-offset-0 col-md-4">
        <%= form_for(:update_order, url: order_path(order.id), method: :patch) do |f| %>
          <div class="field">
            <%= f.label :status%>:
            <%= f.select :status, [:New, :Prepare, :Shipping, :Done, :Cancel],
            selected: Order.order_statuses.key(order.status), class: 'form-control' %>
          </div>
          <div class="update-btn">
            <br />
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-offset-0 col-md-4">
        <div class="stat">
          <strong>Status:</strong>
          <span id="status"><%= Order.order_statuses.key(order.status) %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
