<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    Shopping Cart
  </div>
</div>
<br />
<% if reload %>
  <div id="alert-cart">
    <div class="alert alert-danger">Not enough item in stock. Therefore must be reload cart!</div>
  </div>
<% end %>
<div class="recommened_list col-md-offset-1 col-md-9">
  <div class="row">
    <div class="col-offset-0 col-md-7">
    </div>
    <div class="col-offset-0 col-md-2">
      <strong> Price </strong>
    </div>
    <div class="quantity col-offset-0 col-md-3">
      <strong> Quantity </strong>
    </div>
  </div>
  <hr/>
  <%= render partial: 'carts/_parts/cart_item', collection: cart_items, locals: {cart_subtotal: cart_subtotal} %>
  <hr/>

  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="subtotal col-md-offset-0 col-md-5">
      <strong>Subtotal (<span id="count_items"> <%= get_cart_quantity(cart) %> items </span>):</strong>
      <span class="price" id="subtotal"> $<%= cart_subtotal %> </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="col-md-offset-0 col-md-5">
      <% if cart_items.present? %>
        <% if user_signed_in? %>
          <%= link_to "Checkout", proceed_checkout_path, method: :get, remote: true,
            class: "btn checkout2", data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to "Proceed to checkout", new_user_session_path, class: "btn checkout"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
