<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    Shopping Cart
  </div>
</div>
<br />
<% if reload %>
  <div id="alert-cart">
    <div class="alert alert-danger">Not enough item in stock. Therefore must be reload cart!</div>
  </div>
<% end %>
<div class="recommened_list col-md-offset-1 col-md-9">
  <div class="row">
    <div class="col-offset-0 col-md-7">
    </div>
    <div class="col-offset-0 col-md-2">
      <strong> Price </strong>
    </div>
    <div class="quantity col-offset-0 col-md-3">
      <strong> Quantity </strong>
    </div>
  </div>
  <hr/>
  <% cart_items.each do |cart_item| %>
    <div class="row">
      <div class="col-md-offset-0 col-md-1">
        <%= link_to({controller: "items", action:"show", id: cart_item[:item].id}) do %>
          <img src="<%= cart_item[:item].picture_url %>"
            height="71px" width="38px">
        <% end %>
      </div>
      <div class="col-md-offset-0 col-md-6">
        <div>
          <%= link_to cart_item[:item].name, item_path(cart_item[:item].id) %>
        </div>
        <br />
        <div>
          <%= link_to "Delete", cart_path(item_id: cart_item[:item].id), method: :delete %>
        </div>
      </div>
      <div class="col-md-offset-0 col-md-3">
        <span class="price">
          $<%= cart_item[:item].price%>
        </span>
      </div>
      <div class="col-md-offset-0 col-md-2">
        <%= form_for("quantity", url: cart_path, method: :put, remote: true) do |f| %>
          <%= f.hidden_field :item_id, value: cart_item[:item].id %>
          <%= f.hidden_field :subtotal, value: subtotal, class: "subtotal_quantity" %>
          <% if cart_item[:item].stock > 30 %>
            <%= f.select :quantity, 1..30, {selected: cart_item[:quantity]},
              {id: "quantity_#{cart_item[:item].id.to_s}", onchange: "$(this).closest('form').submit();"}%>
          <% else %>
            <%= f.select :quantity, 1..cart_item[:item].stock, {selected: cart_item[:quantity]},
              {id: "quantity_#{cart_item[:item].id.to_s}", onchange: "$(this).closest('form').submit();"}%>
          <% end %>
        <% end %>
      </div>
    </div>
    <hr/>
  <% end %>

  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="subtotal col-md-offset-0 col-md-5">
      <strong>Subtotal (<span id="count_items"> <%= get_cart_quantity(cart) %> items </span>):</strong>
      <span class="price" id="subtotal"> $<%= subtotal %> </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-0 col-md-7">
    </div>
    <div class="col-md-offset-0 col-md-5">
      <% if cart_items.present? %>
        <% if user_signed_in? %>
          <%= link_to "Checkout", cart_path, method: :get, remote: true,
            class: "btn checkout2", data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to "Proceed to checkout", new_user_session_path, class: "btn checkout"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
