<div class = "row">
  <div class = "header_catalog col-md-offset-0 col-md-12 ">
    <%= "Order #{order.id}"%>
  </div>
</div>
<div class = "recommened_list col-md-offset-1 col-md-9">
  <div class = "row">
    <div class = "col-md-offset-0 col-md-7">
    </div>
    <div class = "col-md-offset-0 col-md-2">
      <strong> Price </strong>
    </div>
    <div class = "quantity col-md-offset-0 col-md-3">
      <strong> Quantity </strong>
    </div>
  </div>
  <hr/>
  <% order_items.each do |record| %>
    <div class = "row">
      <div class = "col-md-offset-0 col-md-1">
        <%= link_to({controller: "items", action:"show", id: record[0].id}) do %>
          <img src = "<%= record[0].image_url %>"
            height = "71px" width = "38px">
        <% end %>
      </div>
      <div class = "col-md-offset-0 col-md-6">
        <div>
          <%= link_to record[0].name, item_path(record[0].id) %>
        </div>
      </div>
      <div class = "col-md-offset-0 col-md-3">
        <span class = "price">$<%= record[0].price%></span>
      </div>
      <div class = "col-md-offset-0 col-md-2">
        <%=record[1]%>
      </div>
    </div>
    <hr/>
  <% end %>

  <div class = "row">
    <div class = "col-md-offset-0 col-md-7">
    </div>
    <div class = "subtotal col-md-offset-0 col-md-5">
      <strong>Subtotal (<%= count_items %> items):</strong>
      <span class = "price"> $<%= subtotal %> </span>
    </div>
  </div>

  <br />
  <div class = "row">
    <div class = "col-md-offset-0 col-md-8">
    </div>
    <% if @is_admin %>
      <div class = "col-md-offset-0 col-md-4">
        <%= form_for(:update_order, url: order_path(order.id), method: :patch) do |f| %>
          <div class="field">
            <%= f.label :status%>:
            <%= f.select :status, [:New, :Prepare, :Shipping, :Done, :Cancel],
            selected: Order.order_statuses.key(order.status), class: 'form-control' %>
          </div>
          <div class="update-btn">
            <br />
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class = "col-md-offset-0 col-md-4">
        <div class ="stat">
          <strong>Status:</strong>
          <span id="status"><%= Order.order_statuses.key(order.status) %> <span>
        </span>
      </div>
    <% end %>
  </div>
</div>
