<% content_for :head do %>
  <%= display_meta_tags site: 'Venshop', title: "Order" %>
  <%= display_meta_tags keywords: %w[venshop Venshop order amazon ] %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path%> >
      <%= current_user.is_admin? ? "All orders" : "My orders" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-3">
      <%= render "categories/_parts/catalog", { categories: @categories}%>
    </div>
    <div class="col-md-offset-0 col-md-9">
      <div>
        <%= render "orders/_parts/list_orders", { list_orders: @list_orders}%>
      </div>
      <%= paginate @list_orders %>
      <%= page_entries_info @list_orders %>
    </div>
  </div>
</div>
