<%= render 'layouts/_parts/meta_tags', {title: "Order", keywords: ["order"],
                                        description: nil
                                        } %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path%> >
      <%= link_to current_user.is_admin? ? "All orders" : "My orders", orders_path %>
      >
      <%= "Order ID #{@order.id}" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-3">
      <%= render "categories/_parts/catalog", { categories: @categories} %>
    </div>
    <div class="col-md-offset-0 col-md-9">
      <div>
        <%= render "orders/_parts/order_items", { order: @order, order_items: @order_items,
          count_items: @count_items, subtotal: @subtotal} %>
      </div>
    </div>
  </div>
</div>
