<% content_for :head do %>
  <%= display_meta_tags site: 'Venshop', title: "Order" %>
  <%= display_meta_tags keywords: %w[venshop Venshop order amazon ] %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path%> >
      <%= link_to is_admin? ? "All orders" : "My orders", orders_path %>
      >
      <%= "Order ID #{@order.id}" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-3">
      <%= render "categories/catalog", { categories: @categories}%>
    </div>
    <div class="col-md-offset-0 col-md-9">
      <div>
        <%= render "orders/order_items", { order: @order, order_items: @order_items,
          count_items: @count_items, subtotal: @subtotal}%>
      </div>
    </div>
  </div>
</div>
