<% content_for :head do %>
  <%= display_meta_tags site: 'Venshop', title: "#{@item.name}" %>
  <%= display_meta_tags keywords: %w[venshop Venshop item amazon ] << "#{@item.name}" %>
  <%= display_meta_tags description: @item.description %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path %> >
      <%= link_to @item.category.name, category_path(@item.category.id) %>
      > Items ID <%= @item.id %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-3">
      <%= render "categories/_parts/catalog", { categories: @categories} %>
    </div>
    <div class="col-md-offset-0 col-md-9">
      <div class="row">
        <div class="col-md-offset-0 col-md-3">
          <img src="<%= @item.picture_url %>"
            height="110px" width="86px">
        </div>
        <div class="col-md-offset-0 col-md-9">
          <div class="row">
            <strong> Item ID: </strong> <%= @item.id %>
          </div>
          <div class="row">
            <strong> Price: </strong> $<%= @item.price %>
          </div>
          <div class="row">
            <strong> Date: </strong> <%= @item.updated_at.strftime("%Y-%m-%d") %>
          </div>
          <div class="row">
            <% unless user_signed_in? && (current_user.role == User.role_users[:admin])%>
              <% if @item.stock > 0 %>
                <%= render "items/_parts/add_to_cart", {stock: @item.stock, item_id: @item.id,
                  hidden_quantity: nil} %>
              <% else %>
                <div class="out_of_stock">
                  Out of stock
                </div>
              <% end %>
            <% else %>
              Stock: <span class="out_of_stock"><%= @item.stock %></span>
            <% end %>
          </div>
        </div>
      </div>
      <br />
      <div class="row description">
        <strong>Description</strong>:
        <br />
        <%= @item.description %>
      </div>
      <br />

      <div class="row">
        <%= render 'items/_parts/share', {item: @item}%>
      </div>
    </div>
  </div>
</div>
