<div class = "container">
  <div class = "row">
    <div class = "col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path%> > <%= link_to @item.category.name, category_path(@item.category.id)%>
      > Items ID <%= @item.id%>
    </div>
  </div>
  <br />
  <div class = "row">
    <div class = "col-md-offset-0 col-md-3">
      <%= render "categories/catalog", { categories: @categories}%>
    </div>
    <div class = "col-md-offset-0 col-md-9">
      <div class = "row">
        <div class = "col-md-offset-0 col-md-3">
          <img src = "<%= @item.image_url.present? ? @item.image_url : @item.image.url %>"
            height = "110px" width = "86px">
        </div>
        <div class = "col-md-offset-0 col-md-9">
          <div class = "row">
            Item ID: <%= @item.id%>
          </div>
          <div class = "row">
            Price: $<%= @item.price%>
          </div>
          <div class = "row">
            Date: <%= @item.updated_at.strftime("%Y-%m-%d")%>
          </div>
        </div>
      </div>
      <div class = "row description">
        <strong>Description</strong>:
        <br />
        <%= @item.description%>
      </div>
      <div class = "row">
        <%= render "items/add_to_cart", {stock: @item.stock, item_id: @item.id} %>
      </div>
    </div>
  </div>
</div>
