<div class="row">
  <div class="header_catalog col-md-offset-0 col-md-12 ">
    <%= category.name %>
  </div>
</div>
<br />
<div class="recommened_list col-md-offset-1">
  <% items.each do |item| %>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= item.image_url%>" class="image">
        </div>
      </div>
      <div class="col-md-9 col-md-offset-0">
        <%= link_to item.name, item_path( item.id) %>
        <br />
        <strong> Price </strong>: $<%= item.price%>
        <br />
        <% unless user_signed_in? && (current_user.role == User.role_users[:admin])%>
          <% if item.stock > 0 %>
            <%= render 'items/add_to_cart', {item_id: item.id, stock: item.stock,
              hidden_quantity: true}%>
          <% else %>
            <div class="out_of_stock">
              Out of stock
            </div>
          <% end %>
        <% else %>
          Stock: <span class="out_of_stock"><%= item.stock %></span>
        <% end %>
      </div>
    </div>
    <br />
  <% end %>
</div>
