<%= render 'layouts/_parts/meta_tags', {title: "Home",
                                        keywords: ["Home", "categories"],
                                        description: nil
                                        } %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-0 col-md-4">
      <%= link_to "Home", root_path%> >
    </div>
    <div class="col-md-offset-0 col-md-7">
      <% flash.each do |key, value| %>
       <div class="alert alert-success"><%= value %></div>
    <% end %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-offset-0 col-md-3">
      <%= render "categories/_parts/catalog", { categories: @categories} %>
    </div>
    <div class="col-md-offset-0 col-md-9">
      <div>
        <%= render "categories/_parts/recommended_items", { recommended_items: @recommended_items} %>
      </div>
      <br />
      <div>
        <%= render "categories/_parts/newest_items", { newest_items: @newest_items} %>
      </div>
    </div>
  </div>
</div>
