<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% else %>
    <title>Venshop</title>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=render "layouts/header"%>
  <br />
  <%= yield %>
  <%=render "layouts/footer"%>
</body>
</html>
